<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiBaseUrl" value="http://localhost:8080/" />
		<add key="ApiTimeoutSeconds" value="30" />
		<add key="ApiKey" value="" />
		<add key="UseLocalModel" value="false" />
		<add key="SpeechServiceKey" value="" />
		<add key="SpeechServiceRegion" value="" />
	</appSettings>
</configuration>